@import url(./../vendor/normalize.css);
@import url(./../blocks/content.css);
@import url(./../blocks/page.css);
@import url(./../blocks/header.css);
@import url(./../blocks/logo.css);
@import url(./../blocks/profile.css);
@import url(./../blocks/element.css);
@import url(./../blocks/card.css);
@import url(./../blocks/footer.css);
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./../fonts/Inter-Regular.woff2) format("woff2"), url(./../fonts/Inter-Regular.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./../fonts/Inter-Medium.woff2) format("woff2"), url(./../fonts/Inter-Medium.woff) format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./../fonts/Inter-Black.woff2) format("woff2"), url(./../fonts/Inter-Black.woff) format("woff");
}